*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}

.book-list-title {
  font-size: 24px;
  font-weight: bold;
}

.book-list {
  list-style-type: none;
  padding: 0;
}

.book-item {
  margin-bottom: 10px;
}

.edit-button,
.delete-button {
  margin-left: 5px;
}

.add-book-form {
  margin-top: 20px;
}

.add-book-form label {
  display: block;
  margin-bottom: 5px;
}

.add-book-form input[type="text"],
.add-book-form input[type="checkbox"] {
  margin-bottom: 10px;
}

.add-book-form button[type="submit"] {
  margin-top: 10px;
}

.book-list-button {
  margin-top: 20px;
}
